<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chordec.chordec" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:logo="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@style/ActionBarTheme" >
        <activity
            android:name=".MainActivity"
            android:logo="@drawable/app_logo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DatabaseActivity"
            android:label="@string/app_name"
            android:logo="@drawable/app_logo"
            android:parentActivityName="com.example.chordec.chordec.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chordec.chordec.MainActivity" />

        </activity>
        <activity
            android:name=".PlayActivity"
            android:label="@string/app_name"
            android:logo="@drawable/app_logo"
            android:parentActivityName="com.example.chordec.chordec.DatabaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chordec.chordec.DatabaseActivity" />
        </activity>
    </application>

</manifest>
